<% content_for :title, "Log In" %>

<h2 class="text-center mb-4 text-dark">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
  <div class="container">
    <!-- Error Messages -->
    <%= render "buyers/shared/error_messages", resource: resource %>

    <!-- Email Field -->
    <div class="mb-3">
      <%= f.label :email, class: "form-label text-secondary" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control shadow-sm" %>
    </div>

    <!-- Password Field -->
    <div class="mb-3">
      <%= f.label :password, class: "form-label text-secondary" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control shadow-sm" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <!-- Submit Button -->
    <div class="mb-3">
      <%= f.submit "Log in", class: "btn btn-dark w-100 shadow-sm" %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-2 mx-auto">
  <%= render "buyers/shared/links" %>
  </div>
</div>

