<% content_for :title, "Shopping Cart" %>

<h1 class="text-center my-4">Your Shopping Cart</h1>
<% if @cart_items&.any? %>
  <div class="container">
    <div class="row">
      <!-- Cart Items List -->
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @cart_items.each do |item| %>
                <tr>
                  <td>
                    <% if item.product.image.attached? %>
                      <%= image_tag item.product.image, class: 'img-thumbnail', size: '100x100' %>
                    <% else %>
                      <p>No image available</p>
                    <% end %>
                  </td>
                  <td>
                    <h5 class="mb-1"><%= item.product.name %></h5>
                    <% if item.quantity >= item.product.stock.to_i %>
                      <p class="text-danger">Only <%= item.product.stock %> left</p>
                    <% end %>
                    <% if item.product.stock == 0 %>
                      <p class="text-danger">Out of stock</p>
                    <% end %>
                  </td>
                  <td class="d-flex justify-content-center align-items-center">
                    <%= button_to '-', decrement_cart_cart_item_path(cart_id: @cart.id, id: item.id), method: :patch, class: 'btn btn-outline-warning btn-sm' %>
                    <% if item.product.stock == 0 || item.quantity >= item.product.stock.to_i %>
                      <p class="mx-3"><%= item.quantity %></p>
                      <%= button_to '+', increment_cart_cart_item_path(cart_id: @cart.id, id: item.id), method: :patch, class: 'btn btn-outline-warning btn-sm', disabled: true %>
                    <% else %>
                      <p class="mx-3"><%= item.quantity %></p>
                      <%= button_to '+', increment_cart_cart_item_path(cart_id: @cart.id, id: item.id), method: :patch, class: 'btn btn-outline-warning btn-sm' %>
                    <% end %>
                  </td>
                  <td>
                    <p><%= number_to_currency(item.product.price * item.quantity) %></p>
                  </td>
                  <td>
                    <%= button_to 'Remove', cart_cart_item_path(cart_id: @cart.id, id: item.id), method: :delete, data: { confirm: 'Are you sure you want to remove this item from your cart?' }, class: 'btn btn-outline-danger btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="mt-4">
          <h3 class="text-end">Total Price: <%= number_to_currency(@cart.total_price) %></h3>
        </div>

        <% disabled = @cart_items.any? { |item| item.product.stock == 0 } %>
        <div class="d-flex justify-content-end mt-3">
          <%= button_to "Place order", new_payment_path, method: :get, class: "btn btn-success", disabled: disabled %>
        </div>

      </div>
    </div>
  </div>

<% else %>
  <div class="text-center">
    <p>Your cart is empty. Start shopping now!</p>
    <%= link_to 'Shop Now', products_path, class: 'btn btn-primary' %>
  </div>
<% end %>
